@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");

.image{
  text-align: center;
  position: relative;
  align-self: center;
  padding: 30px;
  background: #ccc;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.tooltip{
  font-family: 'PT Sans Narrow', sans-serif;
}

.textBox{
  margin-top: 10px;
  background: #ccc;
  margin-bottom: 10px;
  width: 200px;
  padding: 30px;
}

.compoundImage{
  width: 250px;
  height: 200px;
}